<a href="#main-content" class="skip-to-main-link">{{lang 'header.skip_to_main'}}</a>
{{{region name="header_bottom--global"}}} <!-- MUSE+ top global banner -->
{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}
<header class="header" role="banner">
	
		
    <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
        <span class="mobileMenu-toggleIcon">Toggle menu</span>
    </a>
    {{> components/common/navigation}}

    {{#if page_type '===' 'default'}}
        <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/store-logo}}
			<div class="header-search">
				<form class="form" action="/search.php">
					<fieldset class="form-fieldset">
						<div class="form-field">
							<label class="is-srOnly" for="nav-quick-search">Search</label>
							<input class="form-input" data-search-quick="" name="search_query" data-error-message="Search field cannot be empty." placeholder="Search the store" autocomplete="off">
							<input type="image" src="{{cdn 'assets/img/mag-glass.png'}}">
						</div>
					</fieldset>
				</form>
				<section class="quickSearchResults" data-bind="html: results"></section>
				<p role="status" aria-live="polite" class="aria-description--hidden" data-search-aria-message-predefined-text="product results for"></p>
			</div>
        </h1>
    {{else}}
        <div class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/store-logo}}
			<div class="header-search">
				<form class="form" action="/search.php">
					<fieldset class="form-fieldset">
						<div class="form-field">
							<label class="is-srOnly" for="nav-quick-search">Search</label>
							<input class="form-input" data-search-quick="" name="search_query" data-error-message="Search field cannot be empty." placeholder="Search the store" autocomplete="off">
							<input type="image" src="{{cdn 'assets/img/mag-glass.png'}}">
						</div>
					</fieldset>
				</form>
				<section class="quickSearchResults" data-bind="html: results"></section>
				<p role="status" aria-live="polite" class="aria-description--hidden" data-search-aria-message-predefined-text="product results for"></p>
			</div>
        </div>
    {{/if}}
	
    <div class="navPages-container" id="menu" data-menu>
        {{> components/common/navigation-menu}}
    </div>

</header>

{{{region name="header_bottom"}}}
