<a href="{{urls.home}}" class="header-logo__link" data-header-logo-link>
    {{#if settings.store_logo.image}}
        {{#if theme_settings.logo_size '===' 'original'}}
        <img class="header-logo-image-unknown-size"
             src="{{getImage settings.store_logo.image 'logo_size'}}"
             alt="{{settings.store_logo.title}}"
             title="{{settings.store_logo.title}}">
        {{else}}
        <div class="header-logo-image-container">
			<img src="{{getImageSrcset settings.store_logo.image 1x=(default fallback_size '268w')}}" width="268" height="65" class="img-268-logo img-res-logo" alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}">
			<img src="{{getImageSrcset settings.store_logo.image 1x=(default fallback_size '105w')}}" width="105" height="25" class="img-105-logo img-res-logo" alt="{{settings.store_logo.title}}" title="{{settings.store_logo.title}}">
		<!--
            <img class="header-logo-image"
                 src="{{getImage settings.store_logo.image 'logo_size'}}"
                 srcset="{{getImageSrcset1x2x settings.store_logo.image theme_settings.logo_size}}"
                 alt="{{settings.store_logo.title}}"
                 title="{{settings.store_logo.title}}">
-->
        </div>
        {{/if}}
    {{else}}
    <span class="header-logo-text">{{settings.store_logo.title}}</span>
    {{/if}}
</a>
