---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{inject "categoryId" category.id}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

{{#if category.image}}
<!-- solution for performance issue: explicit image width/height -->
<span itemscope itemtype="https://schema.org/ImageObject">
	<img itemprop="contentUrl"  src="{{getImageSrcset category.image 1x=(default fallback_size '1092w')}}" width="1092" height="216" class="img-1092-cat img-res-cat" alt="{{category.image.alt}}" title="{{category.image.alt}}">
	<img itemprop="contentUrl"  src="{{getImageSrcset category.image 1x=(default fallback_size '900w')}}" width="900" height="176" class="img-900-cat img-res-cat" alt="{{category.image.alt}}" title="{{category.image.alt}}">
	<img itemprop="contentUrl"  src="{{getImageSrcset category.image 1x=(default fallback_size '790w')}}" width="790" height="156" class="img-790-cat img-res-cat" alt="{{category.image.alt}}" title="{{category.image.alt}}">
	<img itemprop="contentUrl"  src="{{getImageSrcset category.image 1x=(default fallback_size '640w')}}" width="640" height="126" class="img-640-cat img-res-cat" alt="{{category.image.alt}}" title="{{category.image.alt}}">
	<img itemprop="contentUrl"  src="{{getImageSrcset category.image 1x=(default fallback_size '490w')}}" width="490" height="97" class="img-490-cat img-res-cat" alt="{{category.image.alt}}" title="{{category.image.alt}}">
	<img itemprop="contentUrl"  src="{{getImageSrcset category.image 1x=(default fallback_size '340w')}}" width="340" height="67" class="img-340-cat img-res-cat" alt="{{category.image.alt}}" title="{{category.image.alt}}">
	<img itemprop="contentUrl"  src="{{getImageSrcset category.image 1x=(default fallback_size '315w')}}" width="315" height="67" class="img-315-cat img-res-cat" alt="{{category.image.alt}}" title="{{category.image.alt}}">
	<img itemprop="contentUrl"  src="{{getImageSrcset category.image 1x=(default fallback_size '240w')}}" width="240" height="47" class="img-240-cat img-res-cat" alt="{{category.image.alt}}" title="{{category.image.alt}}">
	<span itemprop="creator" itemtype="https://schema.org/Person" itemscope>
        <meta itemprop="name" content="{{settings.store_name}}" />
    </span>
</span>
{{/if}}




<!--
{{#if category.image}}
    {{> components/common/responsive-img
        image=category.image
        fallback_size=theme_settings.zoom_size
        lazyload=theme_settings.lazyload_mode
        class="category-header-image"
		otherAttributes ="width='' height=''"
    }}
{{/if}}
-->
{{#unless theme_settings.hide_category_page_heading }}
    <h1 class="page-heading">{{category.name}}</h1>
    {{{region name="category_below_header"}}}
{{/unless}}
{{{category.description}}}
<div class="page">
	<div class="filter-mobile">{{> components/products/filter sort=pagination.category.sort}}</div>
    {{#if category.faceted_search_enabled}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.subcategories}}
        <aside class="page-sidebar" id="faceted-search-container">
            {{> components/category/sidebar}}
        </aside>
    {{else if category.shop_by_price}}
        {{#if theme_settings.shop_by_price_visibility}}
             <aside class="page-sidebar" id="faceted-search-container">
                {{> components/category/sidebar}}
            </aside>
        {{/if}}
    {{/if}}
	    

    <div class="page-content" id="product-listing-container">
        {{> components/category/product-listing}}
        {{{region name="category_below_content"}}}
    </div>
	
</div>

{{assignVar "secure_host" settings.secure_host}}
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "ItemList",
    "url": "HTTPS://{{settings.secure_host}}{{category.url}}",
    "numberOfItems": "{{category.total_products}}",
    "itemListElement": [
		{{#each category.products }}
        {
            "@type": "Product",
			"position": {{@index}},
            "image": "{{getImageSrcset image 1x=(default fallback_size '600w')}}",
            "url": "HTTPS://{{getVar "secure_host"}}{{url}}",
            "name": "{{{sanitize name}}}",
            "offers": {
                "@type": "Offer",
                "priceCurrency": "USD",
                "price": "{{price.without_tax.value}}"
            }
        }{{#unless @last}},{{/unless}}
        {{/each}}
    ]
}
</script>

{{/partial}}
{{> layout/base}}
