{{#partial "head"}}
    {{{stylesheet 'assets/css/maintenance.css'}}}
{{/partial}}

{{#partial "page"}}



<div class="shogun-root" data-shogun-id="622638c7ef7ead00c3ac2307" data-shogun-site-id="e4cf334c-57a3-4e19-8123-17303f3a9011" data-shogun-page-id="622638c7ef7ead00c3ac2307" data-shogun-page-version-id="62266cbcfb466f00c3c62ee8" data-shogun-platform-type="big_commerce" data-shogun-variant-id="62266cbcfb466f00c3c62f4b" data-region="main">
<div class="shg-fw">
<div class="shg-box-vertical-align-wrapper" data-animations="[&quot;&quot;]">
<div id="s-21e59e92-96b1-428d-ab28-7a2308f83015" class="shg-box shg-c    ">
<div class="shg-box-overlay">&nbsp;</div>
<div class="shg-box-content">
<div id="s-ae929b37-7583-4a3a-8e4f-205a25f83b10" class="shg-c  shg-align-center">
<div class="shogun-heading-component" data-animations="[&quot;&quot;]">
<h1>A new shop experience is on the way.</h1>
</div>
</div>
<div id="s-7cd24edc-cf4c-47d0-80cc-14757caa2c8f" class="shg-c  shg-align-center">
<div class="shogun-heading-component" data-animations="[&quot;&quot;]">
<h2>Save the date: We&rsquo;re launching our new website and newest product on March 14.</h2>
</div>
</div>
<div id="s-d8595c75-42d5-4b81-bfd5-91c154456ca1" class="shg-c shogun-image-container    shg-align-center" style="opacity: 1;" data-animations="[&quot;&quot;]"><img class="shogun-image " src="https://i.shgcdn.com/6a7d7a90-419b-43ef-a0b6-f3ca79f693fc/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="" width="" height="" /></div>
<script type="text/javascript">// <![CDATA[
  window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
  window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-d8595c75-42d5-4b81-bfd5-91c154456ca1' })
// ]]></script>
<div id="s-e01849f0-5d5d-48c5-92ca-287c615d5675" class="shg-c shogun-image-container    shg-align-center" style="opacity: 1;" data-animations="[&quot;&quot;]"><img class="shogun-image " src="https://i.shgcdn.com/925418f8-e286-4752-9e97-0d5390170a22/-/format/auto/-/preview/3000x3000/-/quality/lighter/" alt="" width="" height="" /></div>
<script type="text/javascript">// <![CDATA[
  window.SHOGUN_IMAGE_ELEMENTS = window.SHOGUN_IMAGE_ELEMENTS || new Array();
  window.SHOGUN_IMAGE_ELEMENTS.push({ hoverImage: '', uuid: 's-e01849f0-5d5d-48c5-92ca-287c615d5675' })
// ]]></script>
<div id="s-a21b7a55-89ed-4fb2-ad47-8f4420ea84f0" class="shg-c  ">
<div id="countdown-s-a21b7a55-89ed-4fb2-ad47-8f4420ea84f0" class="shogun-countdown shogun-countdown-medium">
<div><span class="days">00</span> <label>DAYS</label></div>
<span>:</span>
<div><span class="hours">00</span> <label>HOURS</label></div>
<span>:</span>
<div><span class="minutes">00</span> <label>MIN</label></div>
<span>:</span>
<div><span class="seconds">00</span> <label>SEC</label></div>
</div>
<script type="text/javascript">// <![CDATA[
  if (window.SHOGUN_COUNTDOWNS === undefined) window.SHOGUN_COUNTDOWNS = new Array();

  window.SHOGUN_COUNTDOWNS.push({
    id: '#countdown-s-a21b7a55-89ed-4fb2-ad47-8f4420ea84f0',
    uuid: 's-a21b7a55-89ed-4fb2-ad47-8f4420ea84f0',
    isStatic: '',
    date: '1647241200000',
    days: 0,
    hours: 0,
    minutes: 0,
    seconds: 0,
  })
// ]]></script>
</div>
</div>
</div>
</div>
</div>
<script type="text/javascript" src="https://cdn.getshogun.com/5/62266cbcfb466f00c3c62f4b.js"></script>
</div>


<!--
    <main>
        <header>
            <h1>{{lang 'maintenance.down'}}</h1>
        </header>
        <section><p>{{{settings.maintenance.message}}}</p></section>
        <section></section>
        <footer><small></small></footer>
    </main>
	-->
{{/partial}}
{{> layout/empty}}
