.header-logo{margin:0!important;}


@media screen and (max-width: 1200px) {
	.header-logo{    max-width: 150px;
		margin: auto !important;
		z-index: 6 !important;
		}
	}

@media screen and (max-width: 800px) {
div[data-content-region="home_below_menu_desktop"] {display: none;}
}
@media screen and (min-width: 801px) {
div[data-content-region="home_below_menu_mobile"] {display: none;}
}


.price-section {display: inline-block; font-weight: bold;}

main.body {margin-top: 0px;}


.header-logo {position:relative;}
.header-logo__link {display:block;} /* inline is not clickable in mobile */
.header-search {    width: 368px;
    display: inline-block;
    height: 40px;
	position: absolute;
    right: 0px;
    top: 0px;
	margin-right: 2.277777rem;
	}

.header-search .form-input {height: 40px;
    border-radius: 0px;}
	
.header-search input[type=image] {    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background-color: black;}
.navUser-or {	
position: relative;
    top: -1px;
    display: inline-block;
	}
@media screen and (max-width: 1000px) {
	.header-search {    width: 250px; }
}
@media screen and (max-width: 800px) {
	.header-search {    display:none; }
}

.navUser-item--cart__hidden-s {
	display: block;
};

.countPill {
	display: block;
    background-color: #000;
    color: #FFF;
    padding: 0px 5px;
}


@media screen and (min-width: 550px) {
	.countPill {    display:none; }
}


.navUser-item--storeCredit, .navUser-item--compare, .navUser-item--social, .navUser-item--quickSearch, .navUser-item--giftCerts, .navUser-item--divider  {display:none;}
/* .navUser-section li:nth-child(1), .navUser-section li:nth-child(2),.navUser-section li:nth-child(3), .navUser-section li:nth-child(4) {display:none;} */

.header-logo {padding-top:10px;}

[data-section-type="newsletterSubscription"] input.button, .klaviyo-form button.needsclick {
   /*  background: rgb(194, 174, 144); */
    border-radius: 4px;
    border-style: none;
    border-color: rgb(0, 0, 0);
    border-width: 0px;
   /* color: rgb(0, 0, 0); */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 1;
    white-space: normal;
    padding-top: 11px;
    padding-bottom: 11px;
    text-align: center;
    word-break: break-word;
    align-self: flex-end;
    cursor: pointer;
    height: auto;
    width: 100%;
	margin-top:10px;
	margin-left: 0px;
}
#applepay-container2 {display: block !important;}
.quickSearchResults {display: none; }

article.blog .blog-thumbnail {display:none;}
section.page article.blog .blog-thumbnail {display: block;}

.filter-mobile { display:none;}
.filter-desktop {display:block;}


@media screen and (max-width: 800px) {

	.filter-mobile {display:inline-block;}

	.filter-desktop {display:none;}

	aside#faceted-search-container .sidebarBlock:not(.facetedSearch) {display:none;}
	aside#faceted-search-container .facetedSearch {margin:0px; padding: 0px;}

	aside#faceted-search-container .facetedSearch-navList.is-open {    position: absolute;
		left: 0px;
		width: 100%;
		display: block;
		right: 0px;
		z-index: 10000;
		background-color: #fff;}

	aside#faceted-search-container {
		width: 140px;
		float: right;
		display: inline-block;
		height: auto;
		margin-top: 10px;
		position: static;
	}

	aside#faceted-search-container .facetedSearch-toggle {
		margin: 0;
		border: #999 solid 1px;
		padding: 8px;
	}

	aside#faceted-search-container .facetedSearch-toggle-text {
		display:none;
	}

	aside#faceted-search-container .facetedSearch-toggle-indicator {
		width: 100%;
		text-align: center;
	}

	.actionBar {
		display: inline-block;
		width: 190px;
		margin: 0;
		margin-top: 10px;
	}
	.actionBar .form-field {
		text-align: center;
		padding: 3px;
		}

	.actionBar .form-field .form-label {
			float: left;
			display: inline-block;
			max-width: 27px;
	}
};

[data-product-attribute=product-list] .productOptions-list .productOptions-list-item .select_item .form-radio {  
     top: 14px;
   height: 39px;
   width: 100px;
   opacity: 0;
   cursor: pointer;
}

 [data-product-attribute="product-list"]{
    .productOptions-list {
        display: flex;
        flex-wrap: wrap;
        border: 1px solid #e0e0e0;  
        cursor: pointer;
        .productOptions-list-item {
            flex: 0 0 100%;
            max-width: 100%;
            background: #ffffff;
            padding: 10px; 
            position: relative; 
            border-top: 1px solid #e0e0e0;
            .productOptions-list-item-figure {
                width: 70px;
                height: 70px;
                background: #DFDFE2;
                overflow: hidden;
                text-align: center;  
                img{
                    max-width: 70%;
                } 
            }
            .form-label {
                color: #263238;
                font-size: 14px;
                font-weight: 600;
            }
            .form-radio{
                z-index: 9;
                right: 10px;
                top: 35px;
                background: #000;
                clip: inherit;
                height: 15px;
                width: 15px;
                border: 1px solid #fff;
            }
        }
    }
    }

.productOptions-list {
   background-color: #F2EEEA;
}
.productOptions-list-item-empty {
    width: 100%;
    padding:10px;
}

.productOptions-list-item-empty {
   position: relative;
}
.productOptions-list-item-empty-1 {
    position: relative;
    width: 100%;
    padding: 10px;
    cursor: alias;
}
.productOptions-list-item-empty:after {
   content: '';
   border-top: 1px solid #000000;
   border-left: 1px solid #000000;
   width: 7px;
   height: 7px;
   position: absolute;
   right: 12px;
   transform: rotate(-135deg);
   top: 15px;
}
.productOptions-list-item-content .form-label {
   float: left;
   width: 250px;    
}

.productOptions-list-item-content .list_detail {
   position: absolute;
   right: 36px;
   bottom: 10px;
   font-size: 16px;
   color: #333333;
}
.productOptions-list-item-popup .prd_select.productOptions-list-item-content {
  /* display: none;*/
}

.productOptions-list .popup-overlay .close_box {  
   color: #DDBF78;  
   width: 60px;
   display: block;
   font-size: 35px;
   text-align: center;
   /*background: #f75769;*/
   height: 25px;
  float:right;
}

.productOptions-list .popup-overlay  .form-label {
   
   color: #000000;
   font-weight: 500;
   margin: 0 0 20px;
}
.productOptions-list .popup-overlay  .form-label {
   
   color: #000000;
   font-weight: 500;
   margin: 0 0 20px;
}
.popup-overlay .productOptions-list-item-content {
   padding-left: 0;
   width: 100%;
   display: block;
}

.productOptions-list .popup-overlay .select_item:after {    
   position: relative;  
   right: 0;    
   line-height: 40px;
   top: 0;
   padding: 10px 20px;
}

.productOptions-list .popup-overlay .select_item {
   max-width: 100px;
   display: inline-block;
   margin: 0 0 20px;
}
.productOptions-list .popup-overlay .select_item input[type=radio]{
    width:100px;
    height:40px;
    z-index: 2;
    clip: initial;
    opacity: 0;
    cursor: pointer;
}

@media(max-width:480px){
.productOptions-list-item-content .list_detail {
      /* bottom:25px; */
    }

	}
		[data-product-attribute=product-list] .productOptions-list .productOptions-list-item .form-label {
            width: calc(100% - 100px);
        }
.popup-overlay {
    visibility: hidden;
    position: absolute;
    background: #fff;
    border: 2px solid #ddbf78;
    width: 50%;
    left: 25%;
}

.select_item:after {
    content: 'select';
    position: absolute;
    color: #fff;
    right: 10px;
    width: 100px;
    height: 40px;
    z-index: 1;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    background-color: rgb(116, 27, 27);
    line-height: 40px;
    top: 13px;
	}
	
.change_option a {
    display: inline-block;
    padding: 7px 20px;
    background-color: rgb(116, 27, 27);
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}

.change_option .slected_msg {
    font-size: 14px;
    text-transform: uppercase;
    width: 100%;
    float: left;
    margin: 0 0 5px;
    font-weight: 700;
}

.pick_list_right {
    float: left;
    width: 100px;
	text-align: center;
}

popup-overlay {
  /*Hides pop-up when there is no "active" class*/
  visibility: hidden;
  position: absolute;
  background: #ffffff;
  border: 2px solid #DDBF78;
  width: 50%;
 /* height: 50%;*/
  left: 25%;
}

.popup-overlay.active {
  /*displays pop-up when "active" class is present*/
  visibility: visible;
  text-align: center;
  z-index: 99;
}

.popup-content {
  /*Hides pop-up content when there is no "active" class */
  visibility: hidden;
}

.popup-content.active {
  /*Shows pop-up content when "active" class is present */
  visibility: visible;
}
.close_box {
    width: 100%;
    height: 50px;
    color: #000;
    float: left;
    position: relative;
    z-index: 999999;
    text-align: right;
}

.productOptions-list-item-popup .prd_select.productOptions-list-item-content {
  /* display: none;*/
}

.productOptions-list .popup-overlay .close_box {  
   color: #DDBF78;  
   width: 60px;
   display: block;
   font-size: 35px;
   text-align: center;
   /*background: #f75769;*/
   height: 25px;
  float:right;
}

.productOptions-list .popup-overlay  .form-label {
   
   color: #000000;
   font-weight: 500;
   margin: 0 0 20px;
}
.productOptions-list .popup-overlay  .form-label {
   
   color: #000000;
   font-weight: 500;
   margin: 0 0 20px;
}
.popup-overlay .productOptions-list-item-content {
   padding-left: 0;
   width: 100%;
   display: block;
}

.productOptions-list .popup-overlay .select_item:after {    
   position: relative;  
   right: 0;    
   line-height: 40px;
   top: 0;
   padding: 10px 20px;
}

.productOptions-list .popup-overlay .select_item {
   max-width: 100px;
   display: inline-block;
   margin: 0 0 20px;
}
.productOptions-list .popup-overlay .select_item input[type=radio]{
    width:100px;
    height:40px;
    z-index: 2;
    clip: initial;
    opacity: 0;
    cursor: pointer;
}

.header-search {z-index: 10000;} /* https://whirlwind.teamwork.com/#/tasks/27675878 */

@media screen and (max-width: 1200px) {
	.header-search {    display:none; }
}

/* https://whirlwind.teamwork.com/#/tasks/28041476 */
.card-body {
    text-align: center;
}

.card-body .card-text {
	font-size: 16px;
}

.card-body .card-text[data-test-info-type="brandName"] {
    font-size: 14px;
}

.card-title {
	font-size: 16px;
}

/* https://whirlwind.teamwork.com/#/tasks/28397484 */
header.header .header-logo {z-index: 1;}
/* https://whirlwind.teamwork.com/#/tasks/28925638 */
header .header-search .form-field {margin: 0px;}

.img-res-cat{display: none; margin-left: auto; margin-right: auto;}

@media screen and (max-width: 550px) {
	.img-res-cat {margin-top: 20px;}
} 


@media screen and (min-width: 1326px) {
	.img-1092-cat {display: block;}
} 

@media screen and (max-width: 1325px) and (min-width: 976px) {
	.img-900-cat {display: block;}
}

@media screen and (max-width: 975px) and (min-width: 851px) {
	.img-790-cat {display: block;}
}

@media screen and (max-width: 850px) and (min-width: 701px) {
	.img-640-cat {display: block;}
}

@media screen and (max-width: 700px) and (min-width: 551px) {
	.img-490-cat {display: block;}
}

@media screen and (max-width: 550px) and (min-width: 401px) {
	.img-340-cat {display: block;}
}

@media screen and (max-width: 400px) and (min-width: 375px) {
	.img-315-cat {display: block;}
}

@media screen and (max-width: 374px) and (min-width: 301px) {
	.img-240-cat {display: block;}
}

@media screen and (max-width: 300px) {
	.img-240-cat {display: block; width: 100%; height: auto;}
}

.img-res-logo{display: none; height: auto;}

@media screen and (max-width: 1199px) {
	.img-105-logo {display: block;}
	}
@media screen and (min-width: 1200px) {
	.img-268-logo {display: block;}
	}	
	
.KSPs {
		position: relative;
		margin-bottom: 20px;
		top: 20px;
		display: grid;
		width: 100%;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto auto;
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		border: 1px solid #000;
		border-radius: 5px;
	}
	.productView-options .KSPs span {text-align: center;}
	.KSPs span {padding: 5px 10px; font-size: 14px; }
	.productView-options .KSPs .div1 { grid-area: 1 / 1 / 2 / 2; }
	.productView-options .KSPs .div2 { grid-area: 1 / 2 / 2 / 3; border-left: 1px solid #000;}
	.productView-options .KSPs .div3 { grid-area: 1 / 3 / 2 / 4; border-left: 1px solid #000;}
	.productView-options .KSPs .div4 { grid-area: 2 / 1 / 3 / 2; }
	.productView-options .KSPs .div5 { grid-area: 2 / 2 / 3 / 3; border-left: 1px solid #000;}
	.productView-options .KSPs .div6 { grid-area: 2 / 3 / 3 / 4; border-left: 1px solid #000;}
	.KSPs img {display: block; width: 70px; height: auto; margin-left: auto; margin-right: auto;}
	
@media screen and (min-width: 650px) {
	.cart-content-padding-right .KSPs {
		grid-template-columns: 100px calc(33% - 100px) 100px calc(33% - 100px) 100px calc(33% - 100px);
		grid-template-rows: 1fr;
	}
	.cart-content-padding-right .KSPs span {padding: 10px; display: flex; justify-content: center; align-items: center;}
	.cart-content-padding-right .KSPs .div1 { grid-area: 1 / 1 / 2 / 2; }
	.cart-content-padding-right .KSPs .div2 { grid-area: 1 / 3 / 2 / 4; border-left: 1px solid #000;}
	.cart-content-padding-right .KSPs .div3 { grid-area: 1 / 5 / 2 / 6; border-left: 1px solid #000;}
	.cart-content-padding-right .KSPs .div4 { grid-area: 1 / 2 / 2 / 3; }
	.cart-content-padding-right .KSPs .div5 { grid-area: 1 / 4 / 2 / 5; }
	.cart-content-padding-right .KSPs .div6 { grid-area: 1 / 6 / 2 / 7; }
}

@media screen and (max-width: 649px) {
	.cart-content-padding-right .KSPs .div2 {  border-left: 1px solid #000;}
	.cart-content-padding-right .KSPs .div3 { border-left: 1px solid #000;}
	.cart-content-padding-right .KSPs .div5 {  border-left: 1px solid #000;}
	.cart-content-padding-right .KSPs .div6 { border-left: 1px solid #000;}
}

/* https://whirlwind.teamwork.com/app/tasks/25795139 */
article.card .sale-flag-side {
    background: none !important;
    color: #000 !important;
}
/* https://whirlwind.teamwork.com/app/tasks/31299446 */
.upc-label, [data-product-upc] {display: none !important;}