
/* Esum Font */
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video  {font-family: 'Manrope',sans-serif !important;}

#form-action-addToCart {font-family: manrope, sans-serif;}
.shogun-heading-component h1 {font-family: STIX TWO TEXT !important; font-size: 32px;}

.navUser-section .navUser-action, .navUser-section .navUser-or {font-size: 14px; font-weight: 800;}
.navUser-section .navUser-action {padding-bottom: 5px;}
.navPages-list .navUser-action {font-size: 16px; font-weight: 600;}
.navPages-list .navPages-action {font-size: 16px; padding-bottom: 0px; padding-top: 4px; margin-top: 10px;}

@media screen and (max-width: 1425px) {
	.navPages-list .navPages-action {font-size: 14px;}
}

header.header {background-color: #161616;}
header.header a, header.header, .navUser-or, .navUser-item--cart .navUser-action {color: #bababa; }
.header-search input { background-color: #161616; border: #bababa solid 1px;}
.navPages-container {margin-top:25px;}
.navPages-container:not(.is-open) nav.navPages {text-align: right;}
.navPages-action-moreIcon svg {fill: #ababab; stroke: #ababab;}
#menu.navPages-container {border-bottom: #707070 1px solid;}

@media screen and (min-width: 1201px) {
		.header-logo__link {display: inline-block;
			top: 7px;
			margin-left: 30px;
			position: absolute;}
	
	}
	
@media screen and (max-width: 1200px) {
	.header-search {    display:none; }
}

header.is-open nav.navPages {background-color: #161616;}

header.is-open .navPages-quickSearch {border-bottom: 2px solid #000; }
header.is-open .navPages-list .navPages-action  { padding: .5rem 0;}
header.is-open .navPage-subMenu-list .navPage-subMenu-item {padding: .5rem;}
header.is-open .navPage-subMenu-list .navPage-subMenu-action  { padding: .0rem; }
header.is-open .navPages-list--user {border-top: 2px solid #888;}
header.is-open a, header.header, .navUser-or, .navUser-item--cart .navUser-action {color: #bababa; padding-bottom:15px;}



.countPill {
    background-color: #FFF;
    color: #000;
}

.header-logo {z-index: 11 !important;}

/* https://whirlwind.teamwork.com/#/tasks/29349954 */
.BraintreePaypalCreditCheckout {
    display: none;
}

/* https://whirlwind.teamwork.com/#/tasks/29711384 */
h2.productView-brand {display: none;}
dt.productView-info-name.sku-label {display: none;}
dt.productView-info-name.upc-label {display: none;}
dt.productView-info-name.upc-label + dd.productView-info-value {display: none;}

@media screen and (max-width: 1200px) {
	.add-to-cart-wrapper .form-field--increments {margin-bottom: 20px;}
}



.productGrid .yotpo-sr-bottom-line-right-panel {display: none !important;}


.navPages-container nav.navPages {margin-right: 0px;}


@media screen and (max-width: 1325px) {
	.navPages-list {
		width: calc(100vw - 320px);
	}
}

.card-body .yotpo a.text-m {display: none;}

.yotpo-bottomline.pull-left {
    float: none;
    text-align: center;
}
.yotpo a.text-m {
    display: inline-block;
}


