<h3>Buy With Confidence</h3>
<ul>
<li><span>&#9166;</span> <a href="/shipping-returns/" target="_blank" title="Your satisfaction is important to us. We accepts returns within 30 days if it complies with our return policy.">30 Day Returns &amp; Exchanges</a></li>
<li><span>&#9951;</span> <a href="/shipping-returns/" title="Orders will be processed within 24-48 hours, Monday through Friday, excluding holidays. US online orders will be delivered within 1 to 7 business days.">Speedy Order Processing</a></li>
<li><span>&#9742;</span> Call Us 8a - 4p PT @ 888.393.3963</li>
<li><span>&#9993;</span> Email <a href="mailto:info@esumcosmetics.com">info@esumcosmetics.com</a></li>
</ul>