<!DOCTYPE html>

<html class="no-js" lang="{{ locale_name }}">
    <head>
        <title>{{ head.title }}</title>
        {{{ resourceHints }}}
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}

        <link href="{{ head.favicon }}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script>
            {{!-- Change document class from no-js to js so we can detect this in css --}}
            document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
        </script>

        {{> components/common/polyfill-script }}
        <script>window.consentManagerTranslations = `{{{langJson 'consent_manager'}}}`;</script>

        {{!-- Load Lazysizes script ASAP so images will appear --}}
        <script>
            {{!-- Only load visible elements until the onload event fires, after which preload nearby elements. --}}
            window.lazySizesConfig = window.lazySizesConfig || {};
            window.lazySizesConfig.loadMode = 1;
        </script>
        <script async src="{{cdn 'assets/dist/theme-bundle.head_async.js'}}"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>

        <script>
            WebFont.load({
                custom: {
                    families: ['Nunito Sans','Roboto', 'Manrope','Karla', 'Source Sans Pro']
                },
                classes: false
            });
        </script>

        {{ getFontsCollection }}
        {{{stylesheet '/assets/css/theme.css'}}}
		{{{stylesheet theme_settings.stylesheet}}}

        {{{head.scripts}}}

        {{~inject 'zoomSize' theme_settings.zoom_size}}
        {{~inject 'productSize' theme_settings.product_size}}
        {{~inject 'genericError' (lang 'common.generic_error')}}
        {{~inject 'maintenanceModeSettings' settings.maintenance}}
        {{~inject 'adminBarLanguage' (langJson 'admin')}}
        {{~inject 'urls' urls}}
        {{~inject 'secureBaseUrl' settings.secure_base_url}}
        {{~inject 'cartId' cart_id}}
        {{~inject 'channelId' settings.channel_id}}
        {{~inject 'template' template}}
        {{~inject 'validationDictionaryJSON' (langJson 'validation_messages')}}
        {{~inject 'validationFallbackDictionaryJSON' (langJson 'validation_fallback_messages')}}
        {{~inject 'validationDefaultDictionaryJSON' (langJson 'validation_default_messages')}}
        {{~inject 'carouselArrowAndDotAriaLabel' (lang 'carousel.arrow_and_dot_aria_label')}}
        {{~inject 'carouselActiveDotAriaLabel' (lang 'carousel.active_dot_aria_label')}}
        {{~inject 'carouselContentAnnounceMessage' (lang 'carousel.content_announce_message')}}
		
		<!--
            {{assignVar "cgroup_names" "Pro Member,Pro Member 30/00,Wholesale 60/40,Distributor 70/50,Wholesale 50/30,Retail"}}
            {{assignVar "cgroup_abbr" "Pro,Pro,Whls+,Dist,Whls,Retail"}}
            {{assignVar "cgroup_index" -1}}
            {{assignVar "cgroup_name" "-none-"}} 
            {{#if customer.customer_group_name}}{{assignVar "cgroup_name" customer.customer_group_name}}{{/if}}
            
             {{#eachIndex (split (getVar "cgroup_names") ",")}}
                cgroup_names loop item [{{item}}] index {{index}} isstring {{isString item}}
                {{assignVar "names_item" item}} // need to turn to assigned var  in order to compare to customer group name
                {{#eq (getVar "cgroup_name") (getVar "names_item")}}
                    match! 
                    {{assignVar "cgroup_index" index}}
                {{/eq}}
            {{/eachIndex}}
            
             {{#eachIndex (split (getVar "cgroup_abbr") ",")}}
                {{#eq (getVar "cgroup_index") index}}
                    {{assignVar "cgroup_abbr_val" item}}
                {{/eq}}
            {{/eachIndex}}
            
            customer.customer_group_name [{{customer.customer_group_name}}] isstring {{isString customer.customer_group_name}}
            cgroup_index {{getVar "cgroup_index"}}
            cgroup_abbr_val {{getVar "cgroup_abbr_val"}} 
		--> 
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<style>
		[class*="showOnlyToCG-"]:not(.showOnlyToCG-{{dashcase customer.customer_group_name}}){display:none !important;}		
		</style>
    </head>
    <body>
        <svg data-src="{{cdn 'img/icon-sprite.svg'}}" role="presentation" class="icons-svg-sprite"></svg>

        {{> components/common/header }}
        {{> components/common/body }}
        {{> components/common/footer }}

        <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
        <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>
        <script>
            {{!-- Exported in app.js --}}
            window.stencilBootstrap("{{page_type}}", {{jsContext}}).load();
        </script>

        {{{footer.scripts}}}
    </body>
</html>
